.title {
    margin: auto;
    text-align: center;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.code-box {
    width: 100%;
    margin: 10px;
    font-size: 12px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}